.nav-main
    height: 100%
    width: 10%
    background: linear-gradient(0deg, rgba(255,112,166,1) 0%, rgba(255,151,112,1) 50%, rgba(233,255,112,1) 100%)
    display: flex
    flex-direction: column
    justify-content: space-between
    position: fixed

.nav-section-1
    height: 20vh
    max-width: 10vw
    display: flex
    justify-content: center
    align-items: center
    img
        width: 70%
        height: 70%
        border-radius: 50%

.nav-section-2
    display: flex
    justify-content: center
    margin-bottom: 25px
    button
        width: 80px
        height: 50px
        border: none
        border-radius: 8px
        color: white
        background:  linear-gradient(0deg, rgba(255,112,166,1) 0%, rgba(255,151,112,1) 50%, rgba(233,255,112,1) 100%)
        cursor: pointer
        box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75)

.nav-section-3
    height: 20vh
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    button
        width: 80px
        height: 30px
        border: none
        border-radius: 8px
        color: white
        background:  linear-gradient(0deg, rgba(255,112,166,1) 0%, rgba(255,151,112,1) 50%, rgba(233,255,112,1) 100%)
        cursor: pointer
        box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75)
